<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="nanoFramework.CoreLibrary" version="1.17.1" targetFramework="netnano1.0" />
  <package id="nanoFramework.Iot.Device.Multiplexing" version="1.2.813" targetFramework="netnano1.0" />
  <package id="nanoFramework.Runtime.Events" version="1.11.30" targetFramework="netnano1.0" />
  <package id="nanoFramework.Runtime.Native" version="1.7.9" targetFramework="netnano1.0" />
  <package id="nanoFramework.System.Device.Gpio" version="1.1.55" targetFramework="netnano1.0" />
  <package id="nanoFramework.System.Diagnostics.Stopwatch" version="1.2.815" targetFramework="netnano1.0" />
  <package id="nanoFramework.System.Math" version="1.5.102" targetFramework="netnano1.0" />
  <package id="nanoFramework.System.Threading" version="1.1.49" targetFramework="netnano1.0" />
  <package id="Nerdbank.GitVersioning" version="3.7.115" developmentDependency="true" targetFramework="netnano1.0" />
</packages>