<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="nanoFramework.CoreLibrary" version="2.0.0-preview.52" targetFramework="netnano1.0" />
  <package id="nanoFramework.Runtime.Events" version="2.0.0-preview.13" targetFramework="netnano1.0" />
  <package id="nanoFramework.Runtime.Native" version="2.0.0-preview.25" targetFramework="netnano1.0" />
  <package id="nanoFramework.System.Buffers.Binary.BinaryPrimitives" version="2.0.0-preview.77" targetFramework="netnano1.0" />
  <package id="nanoFramework.System.Device.Gpio" version="2.0.0-preview.18" targetFramework="netnano1.0" />
  <package id="nanoFramework.System.Device.I2c" version="2.0.0-preview.12" targetFramework="netnano1.0" />
  <package id="nanoFramework.System.Diagnostics.Stopwatch" version="2.0.0-preview.82" targetFramework="netnano1.0" />
  <package id="nanoFramework.System.Math" version="2.0.0-preview.19" targetFramework="netnano1.0" />
  <package id="nanoFramework.UnitsNet.ElectricCurrent" version="5.77.0-preview.16" targetFramework="netnano1.0" />
  <package id="nanoFramework.UnitsNet.Length" version="5.77.0-preview.16" targetFramework="netnano1.0" />
  <package id="nanoFramework.UnitsNet.RelativeHumidity" version="5.77.0-preview.16" targetFramework="netnano1.0" />
  <package id="nanoFramework.UnitsNet.Temperature" version="5.77.0-preview.16" targetFramework="netnano1.0" />
  <package id="nanoFramework.UnitsNet.VolumeConcentration" version="5.77.0-preview.16" targetFramework="netnano1.0" />
  <package id="Nerdbank.GitVersioning" version="3.10.94" developmentDependency="true" targetFramework="netnano1.0" />
  <package id="StyleCop.MSBuild" version="6.2.0" targetFramework="netnano1.0" developmentDependency="true" />
</packages>