<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="nanoFramework.CoreLibrary" version="2.0.0-preview.35" targetFramework="netnano1.0" />
  <package id="nanoFramework.Iot.Device.Common.GnssDevice" version="1.0.344" targetFramework="netnano1.0" />
  <package id="nanoFramework.M2Mqtt.Core" version="5.1.206" targetFramework="netnano1.0" />
  <package id="nanoFramework.Runtime.Events" version="2.0.0-preview.8" targetFramework="netnano1.0" />
  <package id="nanoFramework.Runtime.Native" version="2.0.0-preview.20" targetFramework="netnano1.0" />
  <package id="nanoFramework.System.Collections" version="2.0.0-preview.8" targetFramework="netnano1.0" />
  <package id="nanoFramework.System.IO.Ports" version="2.0.0-preview.9" targetFramework="netnano1.0" />
  <package id="nanoFramework.System.IO.Streams" version="2.0.0-preview.10" targetFramework="netnano1.0" />
  <package id="nanoFramework.System.Math" version="2.0.0-preview.6" targetFramework="netnano1.0" />
  <package id="nanoFramework.System.Text" version="2.0.0-preview.8" targetFramework="netnano1.0" />
  <package id="nanoFramework.System.Threading" version="2.0.0-preview.6" targetFramework="netnano1.0" />
  <package id="nanoFramework.UnitsNet.Angle" version="5.77.0-preview.5" targetFramework="netnano1.0" />
  <package id="nanoFramework.UnitsNet.ElectricPotential" version="5.77.0-preview.5" targetFramework="netnano1.0" />
  <package id="nanoFramework.UnitsNet.Ratio" version="5.77.0-preview.5" targetFramework="netnano1.0" />
  <package id="nanoFramework.UnitsNet.Speed" version="5.77.0-preview.5" targetFramework="netnano1.0" />
  <package id="Nerdbank.GitVersioning" version="3.9.50" targetFramework="netnano1.0" developmentDependency="true" />
  <package id="StyleCop.MSBuild" version="6.2.0" targetFramework="netnano1.0" developmentDependency="true" />
</packages>