<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="nanoFramework.CoreLibrary" version="1.17.11" targetFramework="netnano1.0" />
  <package id="nanoFramework.Runtime.Events" version="1.11.32" targetFramework="netnano1.0" />
  <package id="nanoFramework.System.Buffers.Binary.BinaryPrimitives" version="1.2.862" targetFramework="netnano1.0" />
  <package id="nanoFramework.System.Device.Gpio" version="1.1.57" targetFramework="netnano1.0" />
  <package id="nanoFramework.System.Device.I2c" version="1.1.29" targetFramework="netnano1.0" />
  <package id="nanoFramework.System.Math" version="1.5.116" targetFramework="netnano1.0" />
  <package id="nanoFramework.System.Numerics" version="1.2.862" targetFramework="netnano1.0" />
  <package id="Nerdbank.GitVersioning" version="3.9.50" developmentDependency="true" targetFramework="netnano1.0" />
  <package id="StyleCop.MSBuild" version="6.2.0" targetFramework="netnano1.0" developmentDependency="true" />
  <package id="UnitsNet.nanoFramework.Temperature" version="5.75.0" targetFramework="netnano1.0" />
</packages>