<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="nanoFramework.CoreLibrary" version="1.12.0" targetFramework="netnano1.0" />
  <package id="nanoFramework.System.Math" version="1.5.18" targetFramework="netnano1.0" />
  <package id="Nerdbank.GitVersioning" version="3.5.119" developmentDependency="true" targetFramework="netnano1.0" />
  <package id="StyleCop.MSBuild" version="6.2.0" targetFramework="netnano1.0" developmentDependency="true" />
  <package id="UnitsNet.nanoFramework.Length" version="4.147.0" targetFramework="netnano1.0" />
  <package id="UnitsNet.nanoFramework.Pressure" version="4.147.0" targetFramework="netnano1.0" />
  <package id="UnitsNet.nanoFramework.RelativeHumidity" version="4.147.0" targetFramework="netnano1.0" />
  <package id="UnitsNet.nanoFramework.Temperature" version="4.147.0" targetFramework="netnano1.0" />
</packages>