<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="nanoFramework.CoreLibrary" version="2.0.0-preview.33" targetFramework="netnano1.0" />
  <package id="nanoFramework.Runtime.Native" version="2.0.0-preview.19" targetFramework="netnano1.0" />
  <package id="nanoFramework.System.Buffers.Binary.BinaryPrimitives" version="2.0.0-preview.3" targetFramework="netnano1.0" />
  <package id="nanoFramework.System.Device.I2c" version="2.0.0-preview.6" targetFramework="netnano1.0" />
  <package id="nanoFramework.System.Device.Model" version="2.0.0-preview.3" targetFramework="netnano1.0" />
  <package id="nanoFramework.System.Diagnostics.Stopwatch" version="2.0.0-preview.3" targetFramework="netnano1.0" />
  <package id="nanoFramework.System.Math" version="2.0.0-preview.5" targetFramework="netnano1.0" />
  <package id="nanoFramework.System.Numerics" version="2.0.0-preview.3" targetFramework="netnano1.0" />
  <package id="Nerdbank.GitVersioning" version="3.9.50" developmentDependency="true" targetFramework="netnano1.0" />
</packages>