<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="nanoFramework.CoreLibrary" version="1.17.1" targetFramework="netnano1.0" />
  <package id="nanoFramework.Iot.Device.Common.WeatherHelper" version="1.2.821" targetFramework="netnano1.0" />
  <package id="nanoFramework.System.Buffers.Binary.BinaryPrimitives" version="1.2.807" targetFramework="netnano1.0" />
  <package id="nanoFramework.System.Device.I2c" version="1.1.27" targetFramework="netnano1.0" />
  <package id="nanoFramework.System.Device.Model" version="1.2.807" targetFramework="netnano1.0" />
  <package id="nanoFramework.System.Math" version="1.5.102" targetFramework="netnano1.0" />
  <package id="nanoFramework.TestFramework" version="3.0.68" targetFramework="netnano1.0" developmentDependency="true" />
  <package id="UnitsNet.nanoFramework.Length" version="5.70.0" targetFramework="netnano1.0" />
  <package id="UnitsNet.nanoFramework.Pressure" version="5.70.0" targetFramework="netnano1.0" />
  <package id="UnitsNet.nanoFramework.RelativeHumidity" version="5.70.0" targetFramework="netnano1.0" />
  <package id="UnitsNet.nanoFramework.Temperature" version="5.70.0" targetFramework="netnano1.0" />
</packages>