<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="nanoFramework.CoreLibrary" version="1.12.0-preview.19" targetFramework="netnanoframework10" />
  <package id="nanoFramework.Iot.Device.Multiplexing" version="1.0.277-preview.125" targetFramework="netnanoframework10" />
  <package id="nanoFramework.Runtime.Events" version="1.10.0-preview.13" targetFramework="netnanoframework10" />
  <package id="nanoFramework.Runtime.Native" version="1.5.4-preview.10" targetFramework="netnanoframework10" />
  <package id="nanoFramework.System.Device.Gpio" version="1.0.3-preview.18" targetFramework="netnanoframework10" />
  <package id="nanoFramework.System.Diagnostics.Stopwatch" version="1.0.289-preview.74" targetFramework="netnanoframework10" />
  <package id="nanoFramework.System.Threading" version="1.0.4-preview.23" targetFramework="netnanoframework10" />
  <package id="nanoFramework.TestFramework" version="1.0.183" targetFramework="netnanoframework10" developmentDependency="true" />
</packages>