<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="nanoFramework.CoreLibrary" version="2.0.0-preview.33" targetFramework="netnano1.0" />
  <package id="nanoFramework.Runtime.Events" version="2.0.0-preview.7" targetFramework="netnano1.0" />
  <package id="nanoFramework.Runtime.Native" version="2.0.0-preview.18" targetFramework="netnano1.0" />
  <package id="nanoFramework.System.Buffers.Binary.BinaryPrimitives" version="1.2.862" targetFramework="netnano1.0" />
  <package id="nanoFramework.System.Collections" version="2.0.0-preview.6" targetFramework="netnano1.0" />
  <package id="nanoFramework.System.Device.Gpio" version="2.0.0-preview.6" targetFramework="netnano1.0" />
  <package id="nanoFramework.System.Device.I2c" version="2.0.0-preview.6" targetFramework="netnano1.0" />
  <package id="nanoFramework.System.Diagnostics.Stopwatch" version="1.2.862" targetFramework="netnano1.0" />
  <package id="Nerdbank.GitVersioning" version="3.9.50" targetFramework="netnano1.0" developmentDependency="true" />
  <package id="StyleCop.MSBuild" version="6.2.0" targetFramework="netnano1.0" developmentDependency="true" />
  <package id="UnitsNet.nanoFramework.Temperature" version="5.75.0" targetFramework="netnano1.0" />
</packages>