################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ADXL343/bin/Debug
/ADXL343/obj/Debug
