<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="nanoFramework.CoreLibrary" version="1.17.7" targetFramework="netnano1.0" />
  <package id="nanoFramework.System.Device.I2c" version="1.1.28" targetFramework="netnano1.0" />
  <package id="nanoFramework.System.Device.Model" version="1.2.848" targetFramework="netnano1.0" />
  <package id="Nerdbank.GitVersioning" version="3.7.115" developmentDependency="true" targetFramework="netnano1.0" />
  <package id="StyleCop.MSBuild" version="6.2.0" targetFramework="netnano1.0" developmentDependency="true" />
  <package id="UnitsNet.nanoFramework.ElectricCurrent" version="5.73.0" targetFramework="netnano1.0" />
  <package id="UnitsNet.nanoFramework.ElectricPotentialDc" version="5.73.0" targetFramework="netnano1.0" />
  <package id="UnitsNet.nanoFramework.Temperature" version="5.73.0" targetFramework="netnano1.0" />
</packages>