<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="nanoFramework.CoreLibrary" version="2.0.0-preview.49" targetFramework="netnano1.0" />
  <package id="nanoFramework.Runtime.Events" version="2.0.0-preview.12" targetFramework="netnano1.0" />
  <package id="nanoFramework.System.Collections" version="2.0.0-preview.14" targetFramework="netnano1.0" />
  <package id="nanoFramework.System.IO.Ports" version="2.0.0-preview.23" targetFramework="netnano1.0" />
  <package id="nanoFramework.System.IO.Streams" version="2.0.0-preview.18" targetFramework="netnano1.0" />
  <package id="nanoFramework.System.Math" version="2.0.0-preview.13" targetFramework="netnano1.0" />
  <package id="nanoFramework.System.Text" version="2.0.0-preview.18" targetFramework="netnano1.0" />
  <package id="nanoFramework.UnitsNet.Angle" version="5.77.0-preview.14" targetFramework="netnano1.0" />
  <package id="nanoFramework.UnitsNet.Speed" version="5.77.0-preview.14" targetFramework="netnano1.0" />
  <package id="Nerdbank.GitVersioning" version="3.9.50" developmentDependency="true" targetFramework="netnano1.0" />
  <package id="StyleCop.MSBuild" version="6.2.0" targetFramework="netnano1.0" developmentDependency="true" />
</packages>