<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="nanoFramework.CoreLibrary" version="1.12.0" targetFramework="netnanoframework10" />
  <package id="nanoFramework.Runtime.Events" version="1.11.1" targetFramework="netnanoframework10" />
  <package id="nanoFramework.Runtime.Native" version="1.5.4" targetFramework="netnanoframework10" />
  <package id="nanoFramework.System.Buffers.Binary.BinaryPrimitives" version="1.2.82" targetFramework="netnanoframework10" />
  <package id="nanoFramework.System.Device.Gpio" version="1.1.22" targetFramework="netnanoframework10" />
  <package id="nanoFramework.System.Device.I2c" version="1.0.3" targetFramework="netnanoframework10" />
  <package id="nanoFramework.System.Diagnostics.Stopwatch" version="1.2.82" targetFramework="netnanoframework10" />
  <package id="nanoFramework.System.Math" version="1.5.8" targetFramework="netnanoframework10" />
  <package id="Nerdbank.GitVersioning" version="3.5.113" developmentDependency="true" targetFramework="netnanoframework10" />
  <package id="StyleCop.MSBuild" version="6.2.0" targetFramework="netnano1.0" developmentDependency="true" />
  <package id="UnitsNet.nanoFramework.ElectricPotential" version="4.145.0" targetFramework="netnanoframework10" />
  <package id="UnitsNet.nanoFramework.Length" version="4.145.0" targetFramework="netnanoframework10" />
</packages>